.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.button {
  font-size: 18px;
  border: 1px solid black;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  align-self: center;
}
