.wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.field {
    display: flex;
    align-items: center;
    gap: 4px
}

.delete_button {
    font-size: inherit;
    border: inherit;
    border-radius: 5px;
    height: 50px;
    width: 100px;
    align-self: center;
}