.form {
    width: 400px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    padding: 28px;
    margin: 0 auto;
    margin-top: 24px;
}

.wrapper {
    position: relative;
}

.label {
    margin-bottom: 4px;
}

.input {
    height: 30px;
    width: 350px;
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
}

.error {
    color: red;
    font-size: 16px;
    position: absolute;
    top: 65%;
    left: 0;
}

.button {
    font-size: inherit;
    border: inherit;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    margin: 0 auto;
}